/************************************
* Este ficheiro contem os estilos   *
* que sao comuns a todas as paginas *
*************************************/

body {
	background-image: url(../imagens/papel.jpg);
	background-repeat:repeat;
	height:85%;
}

/* estilo para o logo e titulo (banner) */
#banner {
	float: left; 
	clear:both;
	position: relative;
}

/* estilo para o div principal */
.main{
	width:96%;
	height: 100%;
	/*font-family:Verdana, Geneva, sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

/* estilo para o div do conteudo */
#content {
	float: left; 
	width: 100%;
	height: 85vh;
	border: solid #0191d8 3px;
	background: #CCE0FF;
	padding: auto;
	/*margin-bottom: 2%;*/
	
}

#logoutDiv{
	position: relative;
	float: right;
	margin-top: 1.5%;
}

#logoutButton{
	font-family: 'Josefin Sans', sans-serif;
	font-size: medium;
}

/* estilos para os dialogs */
.ui-dialog, .ui-button-text{
	padding: .2em .4em !important;
	font-family: 'Josefin Sans', sans-serif !important;
	font-size: 18px !important;
}

.ui-dialog input, .ui-dialog textarea{
	font-family: 'Josefin Sans', sans-serif !important;
	width: 100%;
}

/* datepicker */
.ui-datepicker,
.ui-datepicker-month,
.ui-datepicker-year{ 
	font-size:11pt !important;
	font-family: 'Josefin Sans', sans-serif !important;
}

